<header class="header">
  <div class="header__container">
    <div class="header__left-icons">
      <img class="header__icon header__icon--menu" src="assets/navbar/icons/menu.svg" alt="icono-menu" width="25"
        height="25">
      <img class="header__icon" src="assets/navbar/icons/logo.svg" alt="icono-logo" width="40" height="40">
    </div>
    <div class="header__right-icons">
      <img class="header__icon" src="assets/navbar/icons/search.svg" alt="icono-search" width="25" height="25">
      <div class="header__icon--cart">
        <img class="header__icon " src="assets/navbar/icons/cart.svg" alt="icono-cart" width="25" height="25">
        <span class="header__cart-badge">3</span>
      </div>
      <img (click)="toggleTheme()" class="header__icon header__icon--theme" [src]="iconUrl" alt="icono-toggle-theme" width="25" height="25">

    </div>
  </div>
</header>