<section class="home">
    <h1 class="home__title">Cervezas</h1>

    <div class="home__cards">
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
    </div>

    <article class="home__cta">
        <div class="home__cta-text">
            <h5>Sigue mercando</h5>
            <h4>Vinos</h4>
        </div>
        <img src="assets/icons/arrow-right.svg" alt="">
    </article>
</section>